/* HEADER */
header li > a{
    display: flex;
    position: relative;
    line-height: inherit;
}

.header-top .wrapper{
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul{
    gap: 2em;
}

.header-top li{
    position: relative;
}

